<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SAN SALES.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
				<key>dateExpires</key>
				<string>03/10/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8EBE419C9E217562F2A95725BC8EF1FA4A08C2</string>
						<key>dateExpires</key>
						<string>03/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N89SJ534H4</string>
						<key>name</key>
						<string>S Sundarakumar</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N89SJ534H4.com.saneforce.sansales</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N89SJ534H4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SAN SALES.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>acacaa9d-e427-4a50-b403-6274d01b981d</string>
				<key>dateExpires</key>
				<string>03/10/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.saneforce.sansales</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N89SJ534H4</string>
				<key>name</key>
				<string>S Sundarakumar</string>
			</dict>
			<key>versionNumber</key>
			<string>3.5 T.12</string>
		</dict>
	</array>
</dict>
</plist>
